.navibar {
    margin-bottom: 20px;
    background-color: #222831;
    margin-top: 0px;
    display: table;
    width: 100%;
    color: white;
}

ul {
    margin: 0;
	padding: 5px;
    list-style: none;
    float: right;
}

ul li {
	padding: .2em 1em;
}

